@model List<IsBulma.Models.ResultJobTypeModel>
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
        <div class="row g-4">
            @foreach(var item in Model)
            {
                
            
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4" href="">
                        <img class="img-fluid" src="~/ReaLEstate/img/@item.Icon" alt="Icon" style="width: 40px; height: 40px;">
                        <h6 class="mb-3">@item.Name</h6>
                    <p class="mb-0">@item.Jobs.Count İlan</p>
                </a>
            </div>
            }
       
    </div>
</div>
<!-- Category End -->